@import "src/assets/styles/vars.less";

.page {
  &__header {
    grid-area: header;
    display: flex;
    padding: 10px 50px;
    align-items: center;
    justify-content: space-between;
  }

  &-header {

    &__btns {
      display: flex;
      gap: 10px;

      & .mat-primary {
        background: lighten(@primary, 20);
      }
    }

    &__link {
      &.active {
        & .mat-primary {
          background: @primary;
        }
      }
    }

    &__logo {
      font-family: sequel, @font-family;
      font-size: 20px;
      color: @primary;
      position: relative;
      cursor: pointer;

      &:before, &:after {
        transition: 0.3s ease-in-out;
        content: attr(text);
        position: absolute;
        left: 0;
        color: lighten(@primary, 40);
      }

      &:before {
        top: 80%;
      }

      &:after {
        bottom: 80%;
      }

      &:hover {
        &:before {
          transform: translate(100%, 0);
          opacity: 0;
        }

        &:after {
          transform: translate(-100%, 0);
          opacity: 0;
        }
      }
    }
  }

  &__content {
    grid-area: content;
    overflow: hidden;
  }

  &__footer {
    grid-area: footer;
  }

}

.page {
  display: flex;
  flex: 1;
  position: relative;
  height: 100%;

  &-card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    //box-shadow: 0px 1px 1px rgba(4, 10, 21, 0.04), 0px 3px 14px rgba(4, 12, 29, 0.09), 0px 0px 1px rgba(7, 13, 26, 0.27);
    position: relative;
  }

  &-card-wrapper {
    display: flex;
    height: 100%;
    width: 100vw;
    max-height: calc(100vh - 90px);
  }
}
