@import "src/assets/styles/vars.less";

@card-size: 200px;

:host {
  display: flex;
  flex: 1 0 auto;
}

.cart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(@card-size, 1fr));
  grid-auto-rows: @card-size;
  gap: 15px;
  padding: 10px;

  &__header {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &-header{
    &__total{

    }
    &__price{
      color: transparent;
      -webkit-text-stroke: 1px lighten(@primary, 40);
      font-size: 20px;
    }
  }

  &__card {
    display: grid;
    grid-template-rows: 60px auto;
    box-shadow: 0px 1px 1px rgba(4, 10, 21, 0.04), 0px 3px 14px rgba(4, 12, 29, 0.09), 0px 0px 1px rgba(7, 13, 26, 0.27);
  }

  &-card {
    &__name {
      padding: 10px 20px 10px 15px;
      color: darken(@primary, 30);
      font-size: 14px;
      display: flex;
      align-items: center;
    }

    &__content {
      background: #fafafa;
      margin: 0 6px 6px 6px;
      position: relative;

      &:hover {
        .cart-card-content__delete {
          opacity: 1;
        }
      }
    }

    &-content {
      &__delete {
        opacity: 0;
        position: absolute;
        bottom: 5px;
        right: 5px;
        transition: .2s;
      }
    }
  }
}
