<section class="page-card-wrapper">
  <div class="page-card">
    <div class="header">
      <span class="header__text">cart</span>
      <div class="cart__header cart-header">
        <div>
          <span class="cart-header__price _sequel">{{ total$ | async | currency : '$'}}</span>
        </div>
        <button
        mat-stroked-button
        (click)="deleteAll()"
      >Delete all
      </button>
      </div>
    </div>
    <div class="cart-wrapper" style="overflow: auto">
      <div class="cart">
        <div
          class="cart__card cart-card"
          *ngFor="let sku of cartSkus$ | async"
        >
          <span class = "cart-card__name">{{ sku.name }}</span>
          <div class = "cart-card__content cart-card-content">
            <span class="cart-card-content__price">{{ sku.price }}$</span>
            <mat-icon class="cart-card-content__delete icon _gray">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
