<div class="example-container">
  <ng-template #noDataFound>{{ noDataMessage }}</ng-template>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.title }}</th>
      <td mat-cell *matCellDef="let element"> {{ column.parent? getParent(element[column.key], column.parent) : element[column.key]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="getTableKeys(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: getTableKeys();"></tr>
  </table>
</div>
