<section class="page-card-wrapper">
  <div class="page-card">
    <div class="main__header main-header">
      <span class="main-header__title">HEADER</span>
      <button
        mat-flat-button
        (click)="addToCart()"
        color="accent"
      >Add to cart
      </button>
    </div>
    <div class="main__table">
      <lol-items-table></lol-items-table>
      <div class="main__table-config">
        <lol-items-table-config></lol-items-table-config>
      </div>
    </div>
  </div>
</section>
