@import 'src/assets/styles/media.less';

:host {
  display: flex;
  flex: 1 0 auto;
}

.main {
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  &__table {
    overflow: auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: calc(100vw - 40px);

    &-config {
      margin: 10px 0;
      display: flex;
      flex: 0 0 auto;
      overflow: hidden;
    }
  }
}


